@charset "utf-8";
/* CSS Document */

body {
	background-color:#9CC;
	font-family: Tahoma, Geneva, sans-serif;
}

#box {
	width:40%;
	margin: 10% auto;
	height: 350px;
	background:#9CC;
	border:5px solid #fff;
	border-radius: 20px;
	color : #ffffff;
	text-align: center;
}

h1 {
	color: #FFFFFF;
	text-align:center;
}

#email{
	border-radius: 10%;
	border-color: #F69;
	border: 3px;
	padding:5px;
	width: 250px;
	height: 25px;
}

#verify {
width: 100px;
height: 35px;
background-color: #F6C;
border-radius: 10px;
color: #ffffff;
border-style: none;
font-style: italic;
font-size: 15px;
font-weight:bold;
}

#result {
	height:100px;
	padding: 5px;
	margin: 2%;
	border: #FFFFFF;
	border-style: dashed;
	border-width: thin;
	border-radius: 10px;
}

